# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore precompiled assets.
/public/assets

# Ignore vendored gems.
/vendor/bundle
